/*=============================================
=            COLORS           =
=============================================*/

/* Colors: */
$contec-colors: ("dark-grey":#002244,
  "med-grey":#6C6C6C,
  "light-grey":#93A1C1,
  "lighter-grey":rgba(147, 161, 193, 0.434),
  "med-blue":#4084B5,
  "light-blue":#46B1FF,
  "contec-red":#F7403A);

$dark-grey:#002244;
$med-grey:#6C6C6C;
$light-grey:#93A1C1;
$lighter-grey:rgba(147, 161, 193, 0.434);
$med-blue:#4084B5;
$light-blue:#46B1FF;
$contec-red:#F7403A;

@each $color-name,
$color-hex in $contec-colors {
  .bg-#{$color-name} {
    background-color: $color-hex;
  }

  .text-#{$color-name} {
    color: $color-hex;
  }
}

/*=====  End of COLORS  ======*/

/*  */

#water-savings-calculator {

  max-width: 750px;


  * {
    font-family: 'Lato', sans-serif;
  }

  h2:after {
    content: '';
    display: block;
    height: 2px;
    width: 50px;
    background-color: #f7403a;
    margin-top: 10px;
  }


  h2 {
    font: 700 42px/50px 'Lato';
  }

  h3 {
    font: 700 28px/28px 'Lato';
    margin-top:40px;
    margin-bottom:30px;
  }

  h4 {
    padding: 0px;
    margin: 0px 0px 20px 0px;
    font: 700 28px/28px 'Lato';
  }

  p {
    font: 18px/28px 'Lato';
  }

 
  .divider {
    border-top: 1px solid $light-grey;
    margin-top: 50px;
    margin-bottom: 30px;
    height: 1px;
  }

  ol li {
    margin-bottom: 30px;
    list-style:decimal!important;
    list-style-position: inside!important;
    font: 300 15px/30px 'Lato';
  }

  ol li a,
  p a {
    color: $contec-red;
  }

h2 sup {
  font-size:20px;
}

  /*=============================================
=            FORM (CALC)            =
=============================================*/


  form#ws-calc-inputs {
    padding: 40px;

    .input-contain {
      padding: 0px 0px 30px 0px;

      label {
        //font: 700 18px/25px 'Lato';
        font: 700 14px/25px 'Lato';
        display: block;
      }

      .sub-label {
        font: 12px/15px 'Lato';
      }

      .input-wrap {
        margin-top: 20px;
        padding: 0px 15px;
        font: 700 18px/28px 'Lato';
        width: 100%;
        background-color: #ffffff;
        display: block;

        input {
          padding: 15px 5px;
          display: inline-block;
          border: 0px;
          font: 700 18px 'Lato';
          width: 75%;
        }
      }

    }


  }

  .submit-button,
  .button {
    background-color: $contec-red;
    color: #ffffff;
    display: block;
    text-decoration: none;
    padding: 20px;
    font: 400 16px/28px 'Lato';

    text-align: center;
  }

  .button-contain {
    text-align: center;

  }

  .button {
    width: 75%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight:bold;
    &.align-right {
      float: right;
    }
  }

  /*=====  End of FORM (CALC)  ======*/

  .to-reveal {
    opacity: 1;
    position: relative;
    top: 0px;
    transition: .25s cubic-bezier(0.075, 0.82, 0.165, 1);

    &.hidden {
      opacity: 0;
      top: -30px;
    }
  }



  /*=============================================
=            RESULTS            =
=============================================*/

  #annual-savings {
    padding: 0px 0px 0px 100px;

    .result {
      background-color: $lighter-grey;
      padding: 25px;

      .output,
      .prefix {
        font: 700 28px/28px 'Lato';
        margin-right: 5px;
      }

      .prefix {
        margin-right: 0px;
      }

      margin-bottom:20px;
    }

  }

  #projected-savings-table {
    width: 100% !important;
    border-collapse: collapse;

    td {
      padding: 30px;
      text-align: center;
      font-size: 18px;

      .output {
        font-weight: bold;
      }
    }

    td.text-right {
      text-align: right;
      width: 20%;
      font-size: 18px;
      font-weight: bold;

    }
  }

  #ctas {
    .button {
      &.align-right {
        float: none;
      }

      margin:30px auto;
    }
  }

  /*=====  End of RESULTS  ======*/



  /*=============================================
=            SIMPLE GRID            =
=============================================*/

  // .row {
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   width: 100%;
  // }

  // .column {
  //   display: flex;
  //   flex-direction: column;
  //   flex-basis: 100%;
  //   flex: 1;
  // }

  /*=====  End of SIMPLE GRID  ======*/

}


/*=============================================
=            MEDIA QUERIES            =
=============================================*/


 @media (min-width: 1200px) {

  // .col-xl-6 {
  //   flex: 0 0 auto;
  //   width: 50%;
  // }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 1300px) {
  #water-savings-calculator {
    #annual-savings {
      padding-left: 0px;
    }
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}

/* @end */


/*=====  End of MEDIA QUERIES  ======*/